{% extends "base.html" -%}
{% block title %}{{title}}{% endblock %}
{% block content -%}
<div class="container">
    <div class="row justify-content-md-center mr-auto">
        <div class="col-10 p-3">
            <h3>{{title}}</h3>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-6">
            <form method="post">
                <div class="form-row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="sdName">Name</label>
                        <input type="text" class="form-control" id="sdName" name="sdName"
                            pattern="[a-zA-Z][a-zA-Z0-9 \-_]+" placeholder="Enter Name" value="{{sdName}}"
                            title="Name must be atleast 2 characters and can only contain lowercase letters, uppercase letters, numbers, space, - and _"
                            required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="sDate">Date</label>
                        <input type="date" class="form-control" id="sDate" name="sDate" required
                            pattern="[\d]{5}-[\d]{2}-[\d]{2}" data-date-format="dd/mm/yyyy" placeholder="Enter date"
                            value="{{sDate}}">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{%- endblock content %}