{% extends "base.html" -%}
{% block title %}{{title}}{% endblock %}
{% block content -%}
<div class="container">
    <div class="row justify-content-md-center mr-auto">
        <div class="col-10 p-3">
            <h3>{{title}}</h3>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-6">
            <form method="post">
                <div class="form-row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username"
                            pattern="[a-zA-Z][a-zA-Z0-9\-]+" placeholder="Username" value="{{username}}"
                            title="Name must be atleast 2 characters and can only contain lowercase letters, uppercase letters, numbers, -"
                            required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Password">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{%- endblock content %}