{% extends "base.html" -%}
{% block title %}Times{% endblock %}
{% block content -%}
<div class="container">
    <div class="row justify-content-md-center mr-auto">
        <div class="col-8 p-3">
            <h3>Special Day Times - {{dayName}}</h3>
        </div>
        <div class="col-2 p-3">
        </div>
    </div>
    <div class="row justify-content-md-center mr-auto">
        <div class="col-8 p-3">
            <a type="button" class="btn btn-secondary" href="{{ url_for('specialDays.view') }}"><i class="bi bi-backspace"></i> Back</a>
        </div>
        <div class="col-2 p-3">
            <a href="?add={{ tid }}" type="button" class="btn btn-primary"><i class="bi bi-plus"></i> Add New Time</a>
        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="row justify-content-md-center mr-auto">
                    <div class="col-10 p-3">
                        <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="row justify-content-md-center">
        <div class="col-6">
            <table class="table table-responsive">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Time</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in times %}
                        <tr class="align-items-center">
                            <td>{{row[1]}}</td>
                            <td><a type="button" class="btn btn-warning" href="?t={{tid}}&edit={{row[0]}}"><i class="bi bi-pencil-square"></i></a>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{row[0]}}"><i class="bi bi-trash"></i></button>

                                <div class="modal fade" id="deleteModal{{row[0]}}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel">Deleting Special Day Time - {{row[1]}}</h5>
                                                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete {{row[1]}}?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                <a type="button" class="btn btn-primary" href="?t={{tid}}&delete={{row[0]}}"><i class="bi bi-trash"></i> Confirm Deletion</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{%- endblock content %}
