{% extends "base.html" -%}
{% block title %}Register{% endblock %}
{% block content -%}
    <div id="login" class="container text-center">
        <form class="form-signin" action="/signup" method="post">
            <h1 class="h3 mb-3 font-weight-normal">Register</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
                    </div>
                {% endif %}
            {% endwith %}
            <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
            </form>
    </div>
{%- endblock content %}
