{% extends "base.html" -%}
{% block title %}Special Days{% endblock %}
{% block content -%}
<div class="container">
    <div class="row justify-content-md-center mr-auto">
        <div class="col-8 p-3">
            <h3>Special Days</h3>
        </div>
        <div class="col-2 p-3">
            <a href="?add=true" type="button" class="btn btn-primary">Add New Special Day</a>
        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="row justify-content-md-center mr-auto">
                    <div class="col-10 p-3">
                        <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="row justify-content-md-center">
        <div class="col-6">
            <table class="table table-responsive">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Date</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for sd in specialDays %}
                    <tr>
                        <td>{{sd.name}}</td>
                        <td>{{sd.sdate}}</td>
                        <td><a type="button" class="btn btn-info" href="{{url_for('specialDays.times_view')}}?id={{sd.id}}"><i class="bi bi-clock"></i></a>
                            <a type="button" class="btn btn-warning" href="?edit={{sd.id}}"><i class="bi bi-pencil-square"></i></a>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{sd.id}}"><i class="bi bi-trash"></i></button>

                            <div class="modal fade" id="deleteModal{{sd.id}}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel">Deleting Special Day - {{sd.name}}</h5>
                                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Deleting this special day will also remove the associated times.
                                            
                                            Are you sure you want to delete {{sd.name}} - {{sd.sdate}}?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <a type="button" class="btn btn-primary" href="?delete={{sd.id}}"><i class="bi bi-trash"></i> Confirm Deletion</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{%- endblock content %}
